/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body
{
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {background:#ddd; color:#333; font-size:16px;}
a {color:#333;}

.container {max-width:320px; margin:0 auto; background:#f1f0f0;}

header .top {
	border-radius:5px 5px 0 0; padding:5px 10px; border-bottom:2px solid #e8dede;
	background: #feb712;
	background: -moz-linear-gradient(top,  #feb712 0%, #fb7000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb712), color-stop(100%,#fb7000));
	background: -webkit-linear-gradient(top,  #feb712 0%,#fb7000 100%);
	background: -o-linear-gradient(top,  #feb712 0%,#fb7000 100%);
	background: -ms-linear-gradient(top,  #feb712 0%,#fb7000 100%);
	background: linear-gradient(to bottom,  #feb712 0%,#fb7000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb712', endColorstr='#fb7000',GradientType=0 );
}
header .logo {display:inline-block;}
header .logo a {display:inline-block; text-indent:-999999px; width:98px; height:39px; background:url(logo.jpg);}
header .top-btn {
	display:inline-block; float:right; color:#fff; margin:3px 0 0; padding:7px 10px; text-decoration:none; border-radius:5px; box-shadow:inset 0 2px 1px #d15103; 
	background: #df7207;
	background: -moz-linear-gradient(top,  #df7207 0%, #d75001 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df7207), color-stop(100%,#d75001));
	background: -webkit-linear-gradient(top,  #df7207 0%,#d75001 100%);
	background: -o-linear-gradient(top,  #df7207 0%,#d75001 100%);
	background: -ms-linear-gradient(top,  #df7207 0%,#d75001 100%);
	background: linear-gradient(to bottom,  #df7207 0%,#d75001 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df7207', endColorstr='#d75001',GradientType=0 );
}

header nav {
	display:table; width:100%;
	background: #4b4b4b;
	background: -moz-linear-gradient(top,  #4b4b4b 0%, #3b3b3b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4b), color-stop(100%,#3b3b3b));
	background: -webkit-linear-gradient(top,  #4b4b4b 0%,#3b3b3b 100%);
	background: -o-linear-gradient(top,  #4b4b4b 0%,#3b3b3b 100%);
	background: -ms-linear-gradient(top,  #4b4b4b 0%,#3b3b3b 100%);
	background: linear-gradient(to bottom,  #4b4b4b 0%,#3b3b3b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#3b3b3b',GradientType=0 );
}
header nav ul {display:table-row;}
header nav ul li {display:table-cell; width:25%;}
header nav ul li a {display:block; text-align:center; margin:5px; padding:40px 0 10px; color:#fff; text-decoration:none; font-size:11px; background-position: center 10px; background-repeat:no-repeat;}
header nav ul li a:hover, header nav ul li a.active {background-color:#222; border-radius:3px;}
header nav ul li a.bundles {background-image:url(../img/icon-bundles.png);}
header nav ul li a.tv {background-image:url(../img/icon-tv.png);}
header nav ul li a.internet {background-image:url(../img/icon-internet.png);}
header nav ul li a.phone {background-image:url(../img/icon-phone.png);}

section.banner {text-align:center; padding:10px 0 0; position:relative;}
section.banner.home h2 {position:absolute;  font-size:14px; font-style:italic; color:#6a6a6a; text-align:left;}
section.banner.home h2 strong {display:block; color:#444444; font-style:normal; font-weight:bold; font-size:26px;}

a.tap-to-call {display:block; padding:4px; box-shadow:inset 0 0 5px #aaa; border-radius:5px; text-decoration:none; margin:10px auto; width:90%;}
a.tap-to-call span {
	display:block; color:#fff; font-weight:bold; text-align:center; padding:10px; border-radius:5px; font-size:22px;
	background: #feb612;
	background: -moz-linear-gradient(top,  #feb612 0%, #f86e00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feb612), color-stop(100%,#f86e00));
	background: -webkit-linear-gradient(top,  #feb612 0%,#f86e00 100%);
	background: -o-linear-gradient(top,  #feb612 0%,#f86e00 100%);
	background: -ms-linear-gradient(top,  #feb612 0%,#f86e00 100%);
	background: linear-gradient(to bottom,  #feb612 0%,#f86e00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb612', endColorstr='#f86e00',GradientType=0 );
}

section.expand a.expand-btn {
	display:block; text-decoration:none; padding:10px 0 10px 20px; font-size:18px; font-weight:bold; color:#fff;
	background: #4fb0df;
	background: -moz-linear-gradient(top,  #4fb0df 0%, #1484ba 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4fb0df), color-stop(100%,#1484ba));
	background: -webkit-linear-gradient(top,  #4fb0df 0%,#1484ba 100%);
	background: -o-linear-gradient(top,  #4fb0df 0%,#1484ba 100%);
	background: -ms-linear-gradient(top,  #4fb0df 0%,#1484ba 100%);
	background: linear-gradient(to bottom,  #4fb0df 0%,#1484ba 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fb0df', endColorstr='#1484ba',GradientType=0 );
}
section.expand.closed a.expand-btn:before {content:'+';}
section.expand a.expand-btn:before {content:'-'; padding:0 10px 0 0;}

section.expand .content {
	padding:10px; position:relative; border-bottom:2px solid #333;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 80%, #c9c9c9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#ffffff), color-stop(100%,#c9c9c9));
	background: -webkit-linear-gradient(top,  #ffffff 80%,#c9c9c9 100%);
	background: -o-linear-gradient(top,  #ffffff 80%,#c9c9c9 100%);
	background: -ms-linear-gradient(top,  #ffffff 80%,#c9c9c9 100%);
	background: linear-gradient(to bottom,  #ffffff 80%,#c9c9c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=0 );
}
section.expand.closed .content {display:none;}
section.expand.pack .content {padding-top:30px;}

section.expand h2.pricing {position:absolute; top:0; left:0; background:url(../img/pricing-cloud.png) no-repeat; width:130px; height:119px; color:#fff; padding:5px 0 0 15px; font-size:18px; font-weight:bold;}
section.expand h2.pricing span {display:block;}
section.expand h2.pricing span.amount {font-size:32px;}
section.expand h2.pricing span.amount sup {position:relative; font-size:18px; bottom:10px;}
section.expand h2.pricing small {font-size:9px; position:relative; top:-5px;}
section.expand h2.pricing small span {font-size:7px; position:relative; top:-3px;}
section.expand h3.icons {position:absolute; top:20px; right:20px; background-repeat:no-repeat; text-indent:-999999px; height:47px;}
section.expand h3.icons.triple {background-image:url(../img/tv-internet-phone.png); width:140px;}
section.expand h3.icons.double {background-image:url(../img/tv-internet.png); width:92px; right:60px;}

section.expand ul {padding:15px;}
section.expand ul li {display:block; background:url(../img/bullet.png) no-repeat 0 5px; padding:0 0 20px 30px; font-size:14px; line-height:24px; font-weight:none; }

section.expand h3 {font-size:36px; text-align:center; font-weight:bold; padding:0 0 20px;}

footer {padding:20px 0;}
footer h3 {font-size:24px; text-align:center;}
footer h3 strong {display:block; color:#ff7401; font-size:40px; font-weight:bold;}

footer nav {text-align:center; background:url(../img/footer-nav-bg.png) no-repeat top center; padding:20px 0 0; margin:20px 0 0;}
footer nav li {display:inline-block;}
footer nav li a {text-decoration:none; color:#8c8c8c; border-right:1px solid #8c8c8c; padding:0 10px; font-size:11px;}
footer nav li:last-child a {border-right:0 none;}

article {font-size:12px; line-height:14px; text-align:justify; padding:20px;}
article p {padding:0 0 10px;}
article h2 {padding:30px 0 10px; font-weight:bold; font-size:18px;}
article h3 {padding:0 0 10px; font-weight:bold;}
article ul {list-style:square inside;}
article ul li {padding:0 0 10px;}

.numberDetector {display:none;}





.form-style-2 .spanclass{
	padding: 10px;
	text-align: left;
	width: 280px;

}


.form-style-2{
    max-width: 320px;
    padding: 10px 6px 5px 10px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 6px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
	padding-left: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field{
    width: 48%;
   
}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:30px;
        line-height:30px;
        background:#f4f4f4;
    } 
}
select::-moz-focus-inner { /*Remove button padding in FF*/ 
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */

}        
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */        
    select {
        height:30px;
        line-height:30px;
    }     
}
